* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --grey: #f1f1f1;
  --grey50: #dbdbdb;
  --grey100: #ccc;
  --grey200: #616161;
  --black: #000;
  --white: #fff;

  --spacing: 1.6rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  color: var(--black);
  background-color: var(--grey);
}

header {
  padding: 3.2rem var(--spacing);
  text-align: center;
}

main {
  display: flex;
  gap: 3.4rem;

  max-width: 1400px;
  margin: 0 auto;
  padding: var(--spacing);
}

section {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

section:first-child {
  flex: 1 1 70%;
}

section:last-child {
  flex: 1 1 30%;
}

footer {
  padding: 3.2rem var(--spacing);
  background-color: var(--grey200);
}

footer p {
  margin-top: 3rem;
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  line-height: 1.5em;
}

h1 {
  font-size: 3.6rem;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  font-size: 2.4rem;
}

h3,
h4 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  text-transform: capitalize;
}

h4 {
  font-weight: 400;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5em;
  text-transform: capitalize;
  font-weight: 400;
}

p {
  margin: 1.5rem 0;
}

button {
  min-width: 6rem;
  padding: 1.2rem 2.4rem;
  font-size: 1.5rem;
  line-height: inherit;
  border: none;
  cursor: pointer;
}

button::after {
  content: ' \00BB';
  margin-left: 0.4rem;
  display: inline-block;
  transform: translateY(-0.05rem);
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

button:disabled::after {
  content: '';
}

/* ------------- Lists ----------------- */

ul {
  list-style-type: none;
}

.list--column li {
  display: flex;
  padding: var(--spacing);
  align-items: center;
  gap: var(--spacing);
}

.list--column li:not(:last-child) {
  border-bottom: 1px solid var(--grey100);
}

.list--row {
  padding: var(--spacing);
}

.list--row li {
  display: inline-block;
  margin-bottom: var(--spacing);
  padding: 0 0.8rem;

  font-size: 1.2rem;
  background-color: var(--grey50);
}

.list--row li:first-child {
  padding: 0.3rem 1.5rem;
  font-size: 1.5rem;
}

.highlight {
  display: inline-block;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--white) !important;
  background-color: var(--black) !important;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  padding: var(--spacing);
  padding-top: 0;
}

.comments {
  margin: 0 2.4rem;
  font-weight: 600;
}

.comments .highlight {
  padding: 0 0.7rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  font-weight: initial;
  line-height: inherit;
}

@media only screen and (max-width: 400px) {
  .comments {
    display: none;
  }
}

/* ------------------ Buttons -------------- */

.button--primary {
  border: 1px solid var(--grey100);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
}

.button--secondary {
  margin-bottom: 0.5rem;
  background-color: var(--black);
  color: var(--white);
}

.button--secondary:first-child::after {
  content: '';
}

/* ------------------ Cards -------------- */

.card--big {
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.card--big img {
  display: block;
  width: 100%;
}

.card--big__subtitle {
  margin: 1rem 0;
  font-size: 1.8rem;
}

.card--big__subtitle::first-letter {
  text-transform: capitalize;
}

.card--big__subtitle span {
  color: rgba(0, 0, 0, 0.6);
}

.card--small img {
  display: block;
}

.card--small,
.tab {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.tab {
  background-color: var(--white);
}

.tab__header {
  padding: 0.8rem 1.6rem;
  background-color: var(--grey50);
}

.tab li h5,
.tab li p {
  margin: 0;
}

@media only screen and (max-width: 992px) {
  main {
    flex-direction: column;
  }

  li:last-child {
    display: none;
  }
}
